.page-404 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 510px;
}

.page-404 h2 {
    font-size: 24px;
    font-weight: 600;
}