.auth-header {
    background-color:#3b5998;
    background-image:linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom:1px solid #133783;
    height:82px;
}

.auth-header nav {
    width:980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top:13px;
    height: 65px;
}

.auth-header h1{
    font-weight:1000px;
    color:#fff;
    font-size: 40px;
}

.auth-header h1 i{
    background-image: url('https://facebook.com/rsrc.php/v3/y4/r/gf6iHxsw8zm.png');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100%;
    width: 170px;
    height: 33px;
    margin-top:17px;
    display: inline-block;
}

.login_form {
    display: flex;
    justify-content: space-around;
    color: #fff;
    width:385px;
}

.login_form .input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size:12px;
}

.login_form input {
    border: 1px solid #1d2a5b;
    width: 146px;
    height:20px;
}

.login_form .submit {
    border: 1px solid #ccd0d5;
    cursor: pointer;
    padding: 2px 6px;
    line-height: 18px;
    font-weight:bold;
    background-color: #4267b2;
    border-color: #29487d;
    height: 24px;
    margin: auto 0;
    color: #fff;
    width: 50px;
}

.login_form .input span {
    height: 12px;
    color: #9cb4d8;
}

.login_form input.input_pwd {
    margin-top: 3px;
}

.login_form input:focus {
    outline: none;
}

.login_form_section {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.middle-section {
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;
    padding: 0 20px 0 0;
    width: 400px;
}

.login_form_page {
    display: flex;
    flex-direction: column;
}

.login_bg {
    background-color: #fff;
}