.friend-requests {
    width: 667px;
    background: #fff;
}

.friend-requests > ul > li {
    width: 94%;
}

.friend-requests header {
    padding: 15px;
}

.friend-requests header  > a {
    margin: 0;
    font-size: 11px;
}