.header-buttons button {
    background: #e9ebee;
    cursor: pointer;
    line-height: 26px;
    padding: 0 10px;
    box-shadow: none;
    font-size: 12px;
    width: auto;
    border-radius: 0;
    color: #4b4f56;
    font-weight: 700;
    text-shadow: none;
    border-color: rgba(0, 0, 0, .4);
}

.header-buttons {
    position: absolute;
    bottom: 1px;
    right: 15px;
}

.header-buttons span {
    padding-left: 6px;
}

.friend-dropdown.display-menu {
    display: block;
}

.header-buttons:hover .friend-dropdown{
    visibility: visible;
}

.friend-dropdown {
    visibility: hidden;
}