.main-header {
    background-color:#3b5998;
    background-image:linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom:1px solid #133783;
    height:43px;
    font-family: Helvetica, Arial, sans-serif;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.main-header h1 i{
    background-image: url('https://facebook.com/rsrc.php/v3/yh/r/JLmjxh1e5cQ.png');
    background-repeat: no-repeat;
    background-position: -33px -28px;
    background-size: 140px 158px;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
}

.main-header nav {
    width:1012px;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    height: 100%;
    margin: 0 auto;
}

.main-header ul.nav-links {
    display: flex;
    align-items: center;
}

.main-header ul.nav-links li {
    list-style-type: none;
    padding: 10px 11px;
    color: #fff;
}

.search-nav {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-nav {
    position: absolute;
    right: 0;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5px;
    width: 200px;
    z-index: 1;
    /* overflow-y: scroll; */
    /* height: 100px; */
}

.dropdown-icon {
    position: relative;
    margin-top: 5px;
}

.dropdown-icon i{
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
}

.main-header ul.dropdown-nav li{
    color: #1d2129;
    padding: 4px 0 2px 20px;
    font-size: 12px;
    border: 1px solid #fff;
}

.dropdown-nav .separator {
    border-bottom: 1px solid #e9ebee;
    margin: 5px 7px 6px;
    padding-top: 1px;
}

.main-header ul.nav-links a{
    cursor: pointer;
}

.main-header ul.nav-links li:hover {
    background-color: #4267b2;
}

.main-header ul.dropdown-nav li:hover{
    background-color: #4267b2;
    border-top: 1px solid #133783;
    border-bottom: 1px solid #133783;
    cursor: pointer;
}

.nav-icons {
    color: #000;
}

.main-header ul.nav-links li a {
    color: #fff;
    font-size: 12px;
}

.main-header ul.nav-links li a:hover{
    text-decoration: none;
}

.main-header li.nav-border::before {
    content: "";
    display: block;
    height: 18px;
    position:absolute;
    top: 13px;
    width:1px;
    background: rgba(0, 0, 0, .1);
    margin-left: -10px;
}

.main-header ul.dropdown-nav li a{
    color: #1d2129;
    font-weight: normal;
}

.main-header ul.dropdown-nav li:hover a{
    color: #fff;
}

.main-header ul li.icons:hover{
    background-color:transparent;
}

.search-bar input {
    line-height: 18px;
    font-size: 14px;
    width: 448px;
    padding: 0 5px;
    margin: 0;
    border: 0;
    height: 100%;
}

.search-bar  {
    margin-left: 10px;
    margin-top: -3px;
    position: relative;
    height: 23px;
}

.main-header ul .nav-icons  {
    color: #222730;
    cursor: pointer;
}

.main-header ul .nav-icons:hover {
    color: #000;
}

ul .nav-icons.col-white, ul .nav-icons.col-white:hover{
    color: white;
}

.search-bar .search-icon {
    position: absolute;
    right:0;
    top:0;
    color: #666;
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
    cursor: pointer;
}

.main-header ul.nav-links li.pdg-top {
    padding-top:4px;
}