.post-text img {
    width: auto;
    height: 40px;
    min-width: initial;
}

.post-text {
    font-size: 14px;
    min-height: 71px;
    display: flex;
    align-items: center;
}

li.section-box{
    list-style-type: none;
}

.post-text .profile-pic {
    margin: -6px 0 0 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
}

.section-box .single-post {
    font-size: 14px;
    padding: 12px 12px 0;
}

.section-box .post-body {
    font-size: 14px;
    margin-top: 6px;
    width: 100%;
    word-wrap: break-word;
    padding: 0;
    padding-bottom: 12px;
    color: #1c1e21;
}

.single-post .profile-pic{
    margin: 0;
    max-width: none;
    border: 1px solid #ccc;
}

.single-post .post-text {
    min-height: 0;
    align-items: flex-start;
    color: #616770;
    position: relative;
}

.single-post .post-info {
    margin-left: 7px;
    font-size: 12px;
    margin-top: 4px;
}

.single-post .post-user {
    font-weight: 700;
    margin-bottom: 4px;
}

.single-post .post-user a{
    font-size: 12px;
    margin-left: 0;
}

.single-post .post-user i {
    margin: 3px;
}

.single-post .post-info i {
    margin-left: 3px;
}

.post-photo-gallery {
    width: 100%;
    max-height: 514px;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
}

.post-photo-gallery figure {
    margin:0;
}

.post-photo-gallery img{
    height: 170px;
    min-width: initial;
    width: auto;
    overflow:hidden;
    text-align:center;
}

.single-post .post-text .more-actions {
    position: absolute;
    right:-3px;
    top:-12px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.single-post .post-actions-dropdown {
    top: 31px;
    left: -20px;
    font-weight: normal;
}

.single-post .born-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.single-post .born-post i {
    color: #fff;
    font-size: 25px;
}

.single-post .born-post span {
    font-size: 20px;
}

.single-post .born-post .baby-icon {
    background: #3478E4;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}