.sidebar-section.top-friends ul li span{
    position: absolute;
    bottom: 0;
    left: 5px;
    color: #fff;
    font-size: 12px;
    text-shadow: #000 0px 0px 10px;
    background: linear-gradient(transparent, rgba(0, 0, 0, .7));
    width: 100%;
    padding-left: 9px;
    font-weight: bold;
    padding-bottom: 5px;
}

.sidebar-section.top-friends ul li {
    position: relative;
}

.sidebar-icon.friends-icon {
    background-color: #F50D6B;
    color: #fff;
}